/* Styling of the table that display records of the custom object */

/* Styling of the headings */
.custom-pets__heading,
.custom-pets__subheading {
  font-size: 3rem;
  font-weight: 100;
  text-shadow: 2px 2px 6px var(--shadow);
  text-transform: uppercase;
}

.custom-pets__subheading {
  font-size: 2rem;
}

/* Styling of the "Add to this table" link as a button */
.custom-pets__update-link {
  background-color: var(--forest-green);
  border-bottom: 2px solid var(--forest-green);
  border-radius: 0.25rem;
  box-shadow: 3px 3px 9px var(--shadow);
  color: var(--charcoal-off-white);
  font-size: 1.5rem;
  margin: 3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* Styling of the table contents */
.custom-pets__table__heading {
  font-size: 2rem;
}

.custom-pets__table__cell {
  border: 1px solid var(--charcoal-off-white);
  font-size: 1.6rem;
}

.custom-pets__table__header-row {
  color: var(--forest-green);
}