.updates__heading {
  font-size: 3rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  padding: 3rem 0;
  text-shadow: 3px 3px 9px var(--shadow);
  letter-spacing: 1px;
  word-spacing: .25rem;
}

.updates__homepage-link {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--forest-green);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--charcoal-off-white);
  letter-spacing: 0.15rem;
  box-shadow: 3px 3px 9px var(--shadow);
  margin: 3rem;
  border-radius: 0.25rem;
}

.updates__form-control label {
  font-size: 1.8rem;
  color: var(--forest-green);
  font-weight: 700;
  text-transform: uppercase;
}

.updates__form-control input {
  font-size: 1.6rem;
  color: var(--charcoal-dark);
  outline: none;
}

.updates__form-control input:focus {
  outline: none;
}

.updates__form-control-btn input[type='submit'] {
  text-transform: uppercase;
  background-color: var(--forest-green);
  border: none;
  color: var(--charcoal-off-white);
  border-radius: 0.25rem;
  box-shadow: 3px 3px 9px var(--shadow);
  font-size: 1.2rem;

}