.custom-pets {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3rem;
  margin: 0 auto;
}

.custom-pets__table__heading,
.custom-pets__table__cell {
  padding: 1.5rem;
}